<!--{% extends 'base.html' %}

{%block header%}
    {{form.media}}
{%endblock%}


{%if form.instance.pk%}
<h1>Edit Document</h1>
{%else%}
<h1>Create Document</h1>
{%endif%} -->

<!--<a href="%url 'speech' form.instance.pk %">
    <button>Speech</button>
</a>
-->

<!--<form method="post">
    {% csrf_token%}

    {{form.as_p}}
    <button onclick="dispose()" id="cancelBtn" style="padding: 10px;">
        Cancel
    </button>
    <button type="submit" style="float: right;padding: 10px;">
    {%if form.instance.pk%}
        <a href="{%url 'text-update' form.instance.pk%}">Update Document</a>
    {%else%}
        Create Document
    {%endif%}
    </button>
</form>-->