* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffd700;
}

.cell {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #221903;
  margin-bottom: 15px;
  margin-left: 15px;
}

.cell:hover {
  cursor: pointer;
}

.class {
  display: flex;
}

.col {
  display: inline-block;
}

.cell_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.score {
  margin-bottom: 15px;
  margin-left: 15px;
  color: white;
}

.entry {
  width: 75px;
  margin-left: 15px;
  height: 25px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.entry:active {
  border: none;
}

.btn {
  width: 75px;
  margin-left: 15px;
  height: 35px;
  border-width: 1px;
  border-style: solid;
  border-radius: 25px;
  background-color: black;
  color: #fff;
}

.logo {
  width: 5%;
}

.logo:hover {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #221903;
}

.ham {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ham:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
a:hover {
  cursor: pointer;
  background-color: #221903;
  color: white;
}

.menu {
  /* flex-direction: column; */
  position: absolute;

  top: 50px;
  right: 20px;
  width: 200px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.hide {
  display: none;
}
